.markdown {
    max-width: 1000px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.markdown a {
    color: var(--mainText);
    border-bottom: 1px dotted rgb(128, 128, 128, 35%);
}

.markdown a:hover {
    color: var(--buttonColor);
    border: none;
}