.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid var(--borderColor);
    border-radius: 7px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 300px;
    height: 410px;
    -webkit-box-shadow: -2px 7px 14 -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 14px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 14px -9px rgba(0, 0, 0, 0.75);
}

.card:hover {
    box-shadow: 2px 2px 2px 2px rgba(15, 14, 14, 0.5);
}

.card:hover .post_title {
    color: var(--buttonColor);
}

.card:hover .post_intro {
    color: var(--secondaryText);
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.card img:hover {
    cursor: pointer;
}

.card .post .post_title {
    margin: 1rem 0;
}

.card .post .post_title span {
    border-bottom: 1px dotted rgb(128, 128, 128, 35%);
    color: var(--mainText);
    font-family: "Russo One", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.card .post .post_title span:hover {
    color: var(--buttonColor);
    cursor: pointer;
}

.card .post_intro {
    margin-bottom: 1rem;
    color: gray;
    line-height: 1.3;
}

.card .post .post_intro {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card .post .thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .post_tech {
    border-top: 1px solid var(--borderColor);
    color: grey;
    font-size: 12px;
    padding: 10px 0 10px 0;
}

.card:hover>.post_tech {
    border-top: 1px solid var(--secondaryColor);
}

.card .post_tech .tech_used {
    color: grey;
}

.card .external_links {
    margin-top: 7px;
}

.card .external_links .link1 {
    margin-right: 20px;
}

.card .external_links a {
    color: var(--mainText);
}

.card .external_links a:hover {
    color: var(--buttonColor);
}

.card .external_links span {
    display: none;
}